<template>
  <v-app id="afiche">
    <v-navigation-drawer
      v-model="drawer"
      width="400"
      app
      left
      clipped=""
      fixed
      disable-resize-watcher
      >
      <v-btn      
        fab
        color="error"
        top
        right
        small
        fixed
        class="d-lg-none d-xl-none"
        @click="drawer = !drawer"
        >
        <v-icon>mdi-close</v-icon>
      </v-btn> <!--
      <v-btn
        fab
        color="info"
        bottom
        right
        large
        fixed
        v-show="!mensajeNuevoShow"
        @click="mensajeNuevoShow = !mensajeNuevoShow"
        >
        <v-icon>mdi-message</v-icon>
      </v-btn>
      <v-list>
        <v-col cols="12">
          <v-row 
            v-for="(mensaje,id) in chat" 
            :key="id"
            class="mb-5"
            :class="{
              'justify-end text-end ml-5': anfitrionId===mensaje.usuarioId || usuarioId===mensaje.usuarioId,
              'justify-start text-start mr-5': !(anfitrionId===mensaje.usuarioId || usuarioId===mensaje.usuarioId)
            }">
            <v-card>
              <v-card-subtitle
                class="font-weight-bold"
                :class="{
                  'chatAnfitrion': anfitrionId===mensaje.usuarioId,
                  'chatUsuario': usuarioId===mensaje.usuarioId,
                  'chatOtros': !(anfitrionId===mensaje.usuarioId || usuarioId===mensaje.usuarioId)
                }">
                {{mensaje.usuarioDisplayName}}
                {{anfitrionId===mensaje.usuarioId?'(Ponente)':''}}
                {{usuarioId===mensaje.usuarioId?'(Yo)':''}}
              </v-card-subtitle>
              <v-card-text class="body-1">
                {{mensaje.mensaje}}
                <p class="caption">
                  {{mensaje.timestamp}}
                </p>
              </v-card-text>
            </v-card>
          </v-row>
        </v-col>
      </v-list>
      <v-divider ref="finChat"></v-divider>
      <v-snackbar
        v-model="mensajeNuevoShow"
        :timeout="0"
        >
        <v-textarea
          placeholder="Escribe tu mensaje aquí"
          v-model="textomensajeNuevo"
          :auto-grow="true"
          rows="1"
          :loading="enviando"
          :disabled="enviando"
          :loader-height="15"
          >
          <template slot="append">
            <v-btn
              v-if="textomensajeNuevo"
              @click="mandarMensaje"
              icon
            >
              <v-icon color="success">mdi-send</v-icon>
            </v-btn>
            <v-btn
              v-if="!textomensajeNuevo"
              @click="mensajeNuevoShow = false"
              icon
            >
              <v-icon color="error">mdi-close</v-icon>
            </v-btn>
          </template>
        </v-textarea>
        
      </v-snackbar>-->
      <chat/>
    </v-navigation-drawer>

    <v-app-bar app clipped-left>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer">
        <v-icon v-if="!drawer">mdi-message-text</v-icon>
        <v-icon v-if="drawer">mdi-close</v-icon>
      </v-app-bar-nav-icon>
      <v-toolbar-title>{{ cartel }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-menu bottom left transition="slide-x-transition">
        <template v-slot:activator="{ on }">
          <v-btn icon color="yellow" v-on="on">
            <v-icon>mdi-menu</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item>
            <v-list-item-title>
              <v-icon>{{$vuetify.theme.dark?'mdi-brightness-6':'mdi-brightness-4'}}</v-icon>
              {{$vuetify.theme.dark?'Tema claro':'Tema oscuro'}}
            </v-list-item-title>
            <v-list-item-action>
              <v-switch v-model="$vuetify.theme.dark" color="primary"></v-switch>
            </v-list-item-action>
          </v-list-item>
          <v-list-item>
            <v-list-item-title>
              <v-icon>mdi-download</v-icon>
              Descargar afiche
            </v-list-item-title>
          </v-list-item>
          <v-list-item  @click="salir">
            <v-list-item-title>
              <v-icon>mdi-logout</v-icon>
              Salir
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>

    <v-content>
      <v-container fluid fill-height>
        <v-row>
          <v-col cols="12">
            <v-zoomer pivot="image-center">
              <img
                :src="aficheimg"
                style="object-fit: contain; width: 100%; height: 100%;"
              />
            </v-zoomer>
          </v-col>
        </v-row>
      </v-container>

      <v-footer app>
        <span>Primer Congreso Internacional de Investigacion Educativa</span>
      </v-footer>
    </v-content>
    
  </v-app>
</template>

<script>
import * as easings from 'vuetify/es5/services/goto/easing-patterns'
import VueZoomer from 'vue-zoomer'
import firebaseApp from '../../firebaseInit'
import 'firebase/storage';
import Chat from '../../components/Chat'
export default {
  name:'Afiche',
  components:{
    VueZoomer,
    Chat
  },
  created() {
    this.$vuetify.theme.dark=true
    const db = firebaseApp.firestore()
    const storage=firebaseApp.storage()
    const aficheData=db.doc(`/afiches/${this.anfitrionId}`)
    // Obtener datos del afiche
    aficheData.get().
    then(snapshot=>{
      let data=snapshot.data()
      storage.refFromURL(data.afiche).getDownloadURL().
      then(url=>{
        this.aficheimg=url
        console.log("Afiche cargado")
      }).
      catch(error=>{
        console.log(`Error al descargar el afiche: ${JSON.stringify(error)}`)
      })
    }).
    catch(error=>{
      console.log(`Error al obtener datos: ${JSON.stringify(error)}`)
    })
    /*
      var ultimoMensaje=''
      aficheData.collection("chat").orderBy('timestamp','asc').get().
      then(snapshot=>{
        this.chat=[]
        snapshot.forEach(mensaje=>{
          this.chat.push(mensaje)
          console.log(mensaje.timestamp)
          ultimoMensaje=mensaje.timestamp
        })
      }).
      catch(error=>{
        console.log(error)
      }).
      finally(()=>{
        ultimoMensaje=ultimoMensaje?ultimoMensaje:Date.now().toString()
        aficheData.collection('chat').where('timestamp','>',ultimoMensaje).onSnapshot(mensaje=>{
        console.log(`Mensaje recibido`)
        //this.chat.push(mensaje.docs)
        mensaje.docChanges().forEach(msj=>{
          if (msj.type=='added')
          {
            console.log(msj.doc.data())
            this.chat.push(msj.doc.data())
          }
        })
      })
      })
      ultimoMensaje=ultimoMensaje?ultimoMensaje:Date.now().toString()*/
      /*
      aficheData.collection('chat').orderBy('timestamp','asc').onSnapshot(mensaje=>{
      console.log(`Mensaje recibido`)
      mensaje.docChanges().forEach(msj=>{
        if (msj.type=='added')
        {
          console.log(msj.doc.data())
          this.chat.push(msj.doc.data())
          this.$vuetify.goTo(this.$refs["finChat"])
        }
      })
    })
  */
 
  },
   props:[
    'cartel',
    'anfitrionId',
  ],
  methods: {
    salir(){
      this.$router.back()
    }
  },
  computed: {
    usuarioId(){
      return firebaseApp.auth().currentUser.uid
    }
  },
  data: () => ({
    drawer: true,   
    aficheimg:'',    
    chat:[
    ]
  }),
};
</script>

<style scoped>

.overflow-y-hidden{
  overflow-y: hidden !important;
}
</style>